<app-header></app-header>
<app-nav></app-nav>

<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/accueil']">Retour</button>
</div>

<form>
  <app-custom-input
    label="Nom"
    [(value)]="nom"
    id="nom"
    type="text"
    [required]="true"
  ></app-custom-input>
  <app-custom-input
    label="Prénom"
    [(value)]="prenom"
    id="prenom"
    type="text"
    [required]="true"
  ></app-custom-input>
  <app-custom-input
    label="Adresse"
    [(value)]="adresse"
    id="adresse"
    type="text"
    [required]="true"
  ></app-custom-input>
  <app-custom-input
    label="Tél."
    [(value)]="tel"
    id="tel"
    type="text"
    [required]="true"
  ></app-custom-input>
  <app-custom-input
    label="Code postal"
    [(value)]="codePostal"
    id="codePostal"
    type="text"
    [required]="true"
  ></app-custom-input>
  <app-custom-input
    label="Ville"
    [(value)]="ville"
    id="ville"
    type="text"
    [required]="true"
  ></app-custom-input>

  <p></p>

  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-danger me-2"
      [routerLink]="['/accueil']"
    >
      Retour
    </button>
    <button type="button" class="btn btn-primary " (click)="onSubmit()" [disabled]="!nom || !prenom || !adresse || !tel || !codePostal || !ville">
      Créer Client
    </button>
  </div>
  


</form>

<!-- <form class="login-form">
    <app-custom-input label="login" [(value)]="login" id="identifiant" type="email" [required]="true"></app-custom-input>
    <app-custom-input label="Mot de passe" [(value)]="password" id="password" type="password" [required]="true"></app-custom-input>
    <button class="d-flex  mx-auto" (click)="onLogin()" [disabled]="!login || !password">Se connecter</button>
</form> -->
