<app-header></app-header>
<app-nav></app-nav>
<div class="col-10 mx-auto mt-3">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Solde du compte courant</th>
        <th>Solde du compte épargne</th>
        <th>Offre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" [routerLink]="['/client', client.id]">
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom }}</td>
        <td>{{ client.compteCourant?.solde }} €</td>
        <td>{{ client.compteEpargne?.solde }} €</td>
        <td>
          <button
            type="button"
            class="btn btn-success"
            *ngIf="
              client.compteCourant!.solde > 10000 ||
              client.compteEpargne!.solde > 10000
            "
          >
            Offre
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button
  type="button"
  class="btn btn-primary d-flex mx-auto"
  [routerLink]="['/ajoutClient']"
>
  Ajouter un client
</button>
