<app-header></app-header>
<app-nav></app-nav>

<div class="container">
<button type="button" class="btn btn-primary" [routerLink]="['/accueil']">Retour</button>
</div>

<div class="container pt-3 ">
  <div class="row " *ngIf="client">
 

    <h2 class="col-12">{{ client.nom }} {{ client.prenom }}</h2>


    <div class="col-12 col-md-6 align-self-center">
      <p><strong>Tél. :</strong> {{ client.tel }}</p>
      <p><strong>Adresse :</strong> {{ client.adresse }}</p>
      <p><strong>Ville :</strong> {{ client.ville }}</p>
      <p><strong>Code postal :</strong> {{ client.codePostal }}</p>
    </div>

    <div class="col-12 col-md-6">
      <div>
        <p><strong>Numéro de compte courant :</strong> {{ client.compteCourant?.numCompte }}</p>
        <p><strong>Creation Compte courant :</strong> {{ client.compteCourant?.solde }} €</p>
        <p><strong>Creation Compte courant : </strong>{{ client.compteCourant?.creationDate | date: 'dd/MM/yyyy' }}</p>
      </div>

      <div>
        <p><strong>Numéro de compte épargne :</strong> {{ client.compteEpargne?.numCompte }}</p>
        <p><strong>Compte épargne :</strong> {{ client.compteEpargne?.solde}} €</p>
        <p><strong>Création compte épargne :</strong>  {{ client.compteEpargne?.creationDate | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-danger me-2"
        (click)="openDeleteConfirmationModal()"
      >
        Supprimer
      </button>

      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/modificationClient', client.id]"
      >
        Modifier
      </button>
    </div>
  </div>

  <app-modal
    *ngIf="showDeleteConfirmation"
    [message]="'Voulez-vous vraiment supprimer ce client ?'"
    (confirm)="confirmDelete()"
    (cancel)="closeDeleteConfirmationModal()"
  >
  </app-modal>
  
  
</div>

<div *ngIf="messageErreur" class="alert alert-danger col-4 mx-auto mt-3">
  <div class="d-flex justify-content-center">
    {{ messageErreur }}
  </div>
</div>

