<app-header></app-header>
<app-nav></app-nav>

<h2>Informations sur le client</h2>
<p>Id : {{ client.id }}</p>
<p>Nom : {{ client.nom }}</p>
<p>Prénom : {{ client.prenom }}</p>
<p>Tél. : {{ client.tel }}</p>
<p>Adresse : {{ client.adresse }}</p>
<p>Ville : {{ client.ville }}</p>
<p>Code postal : {{ client.codePostal }}</p>
<div>
  <p>Numero de compte courant : {{ client.compteCourant?.numCompte }}</p>
  <p>Solde compte courant : {{ client.compteCourant?.solde }}</p>
  <p>Creation compte courant : {{ client.compteCourant?.creationDate }}</p>
</div>

<div>
  <p>Numero de compte épargne : {{ client.compteEpargne?.numCompte }}</p>
  <p>Solde compte épargne : {{ client.compteEpargne?.solde }}</p>
  <p>Creation compte epargne : {{ client.compteEpargne?.creationDate }}</p>
</div>

<button
  type="button"
  class="btn btn-primary"
  (click)="openDeleteConfirmationModal()"
>
  Supprimer
</button>
<button
  type="button"
  class="btn btn-primary"
  [routerLink]="['/modificationClient', client.id]"
>
  Modifier
</button>

<app-modal
  *ngIf="showDeleteConfirmation"
  [message]="'Voulez-vous vraiment supprimer ce client ?'"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteConfirmationModal()"
>
</app-modal>
